# Predicting Clinical Trial Terminations
### Notebook 3: Baseline Modelling

**Author: Clement Chan**

---
Notes on the notebook:
- put something here

### Data Dictionary for this notebook that is based on clinicaltrials.gov:

---

| Column | Description                                  |Data Type|
|-------|--------------------------------------------|-------|
| Study Title | Title of the Clinical Trial           | object |
| Study Status | Binary column, 0 for Completed Trials and 1 for Terminated Trials | int |
| Brief Summary | Short description of the clinical study (Includes study hypothesis) | object |
| Study Results | Whether the results are posted (yes = 1 or no = 0) | int|
| Conditions | Primary Disease or Condition being studied     | object |
| Interventions | The methods used in the trial to reach the outcome                 | object |
| Primary Outcome Measures | Description of specific primary outcome | object |
| Secondary Outcome Measures | Description of specific secondary outcome | object |
| Sponsor | The corporation or agency that initiates the study | object |
| Collaborators | Other organizations that provide support | object |
| Sex | All: No limit on eligibility based on sex, Male: Only male participants, Female: Only female participants | int |
| Age | Age group of participants: ADULT, OLDER_ADULT, CHILD  | int |
| Phases | Clinical trial phase of the study | int |
| Enrollment | Total number of participants in a study | int |
| Funder Type | Government, Industry, or Other | int |
| Study Type | Interventional = 1, Observational = 0 | int |
| Study Design | Study design based on study type | object |
| Start Date | Estimated/Actual date the first participant was enrolled | datetime |
| Primary Completion Date | Date the final participant was examined for the first outcome | datetime |
| Completion Date | Date the final participant was examined | datetime |
| Locations | Where the clinical study will be held | object |

**Importing Libraries**

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# ignores the filter warnings
import warnings
warnings.filterwarnings('ignore')

<a id = 'toc'><a/>
## Table of Contents

---
1. [blah](#blah)

<a id = 'blah'></a>
## 1. Blah

---
**Load the dataset**

In [3]:
# make sure to not include the index_col
df = pd.read_csv('model_ctg.csv', index_col = 0)

# First 5 rows of dataset
df.head()

,Study Status,Study Results,Study Type,Sex_ALL,Sex_FEMALE,Sex_MALE,Age_ADULT,Age_CHILD,Age_OLDER_ADULT,Phases_EARLY_PHASE1,...,Duration(days)__0-122,Duration(days)__123-244,Duration(days)__245-365,Duration(days)__366-515,Duration(days)__516-671,Duration(days)__672-861,Duration(days)__862-1097,Duration(days)__1098-1460,Duration(days)__1461-2049,Duration(days)__2050-38562
0,0,0,1,1,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2,1,0,1,1,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,1,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,1,1,1,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0

Let's look at the shape of the dataframe.

In [4]:
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns.')

The dataset has 305110 rows and 418 columns.